*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1000px;
    margin: 0 auto;
}

.grid-easy{
    display: grid;
    grid-template-columns: repeat(7,1fr);
}

.grid-mid{
    display: grid;
    grid-template-columns: repeat(9,1fr);
}

.grid-hard{
    display: grid;
    grid-template-columns: repeat(10,1fr);
}

.cell{
    aspect-ratio: 1;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-azurro{
    background-color: rgb(80, 80, 190);
}