*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1000px;
    margin: 0 auto;
}

.grid{
    display: grid;
    grid-template-columns: repeat(10,1fr)
}

.cell{
    aspect-ratio: 1;
    border: 1px solid black;
}

.bg-green{
    background-color: green;
}